<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="text" name="nombre" placeholder="Nombre">
    <input type="text" name="precio" placeholder="precio">
    <input type="text" name="descripcion" placeholder="descripcion">
    <input id="file" type="file" name="image">
    <button type="submit">Upload</button>
</form>