<footer class="background-contacto">
    <h2 class="titulo-contacto">CONTACTO</h2>
    <div class="contacto" id="contacto">
    <form class="row g-2 formulario-contacto" action="/mailcontacto" method="POST" autocomplete="off">
        <div class="form-floating col-6">
            <input type="text" class="form-control" id="floatingInputNombre" name="nombre" placeholder="Nombre" required>
            <label for="floatingInputNombre" class="label-form">Nombre</label>
        </div>
        <div class="form-floating col-6">
            <input type="text" class="form-control" id="floatingInputApellido" name="apellido" placeholder="Apellido" required>
            <label for="floatingInputApellido" class="label-form">Apellido</label>
        </div>
        <div class="form-floating col-6">
            <input type="mail" class="form-control" id="floatingInputMail" name="mail" placeholder="Mail">
            <label for="floatingInputMail" class="label-form">Mail</label>
        </div>
        <div class="form-floating col-6">
            <input type="number" class="form-control" id="floatingInputTelefono" name="telefono" placeholder="Teléfono" required>
            <label for="floatingInputTelefono" class="label-form">Telefono</label>
        </div>
        <div class="form-floating col-12">
            <textarea class="form-control" id="floatingTextarea2" style="height: 100px" name="comentarios" placeholder="Comentarios" required></textarea>
            <label for="floatingTextarea2" class="label-form">Comentarios</label>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary boton-contacto">enviar</button>
        </div>
    </form>
        <div class="redes-contacto">
            <div class="boton-background">
                <a href="https://www.instagram.com/moscovicz_/"><img class="boton-imagen" src="images/boton-instagram.svg" alt="Instagram"/></a>
            </div>
            <div class="boton-background">
                <a href="https://api.whatsapp.com/send?phone=5491150128930"><img class="boton-imagen" src="images/boton-whatsapp.svg" alt="WhatsApp"/></a>
            </div>
        </div>
    </div>
    <p class="datos-web">Pagina web creada por&nbsp;<a href="https://api.whatsapp.com/send?phone=5491150258243">Federico Kolonski</a></p>
</footer>
