<footer class="background-contacto">
    <h2 class="titulo-contacto">CONTACTO</h2>
    <div class="contacto" id="contacto">
        <form class="formulario-contacto" method="post" action="https://formspree.io/xknqlobb">
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="text" name="apellido" placeholder="Apellido" required>
            <input type="number" name="telefono" placeholder="Número de contacto" required>
            <input type="email" name="mail" placeholder="Mail"><br>
            <textarea name="comentarios" placeholder="Dejá tus comentarios" required></textarea><br>
            <button class="boton-contacto" type="submit">ENVIAR</button>
        </form>
        <div class="redes-contacto">
            <div class="boton-background">
                <a href="https://www.instagram.com/moscovicz_/"><img class="boton-imagen" src="images/boton-instagram.svg" alt="Instagram"/></a>
            </div>
            <div class="boton-background">
                <a href="https://api.whatsapp.com/send?phone=5491150128930"><img class="boton-imagen" src="images/boton-whatsapp.svg" alt="WhatsApp"/></a>
            </div>
        </div>
    </div>
    <p class="datos-web">Pagina web creada por&nbsp;<a href="https://api.whatsapp.com/send?phone=5491150258243">Federico Kolonski</a></p>
</footer>
