<div class="menu-mobile-background">
    <input id="menu" type="checkbox" class="menu-mobile-input">
    <label for="menu" class="menu-mobile-label">
        <img class="menu-icono" src="images/open-menu.svg"/>
        <img class="menu-icono-close" src="images/close-menu.svg"/>
        <img class="logoMenu" src="images/logo.jpg" alt="Moscovicz"/>
    </label>
    <ul class="menu-mobile">
        <li class="item-menu"><a href="#obras-mobile">obras</a></li>
        <li class="item-menu"><a href="#galeria">galeria</a></li>
        <li class="item-menu"><a href="#contacto">contacto</a></li>
    </ul>
</div>