{{!-- CSS ADMIN --}}
<link rel="stylesheet" href="styles/admin.css">

{{!-- HTML ADMIN --}}

{{!-- logo admin --}}
<header id="up">
    <img class="logo-admin" src="images/logo-admin.png" alt="Moscovicz"/>
</header>

<form action="/login" method="POST" class="login">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Usuario" name="usuario" autocomplete="off">
        <label for="floatingInput">Usuario</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" name="contrasena">
        <label for="floatingPassword">Contraseña</label>
    </div>
    <button type="submit" class="btn btn-secondary">iniciar sesión</button>
</form>

