html, body {
    width: 100%; 
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Cutive Mono', monospace;
    scroll-behavior: smooth;
}

body {
    overflow-y: hidden;
}

/* eliminar efecto de entrada de logo */
header {
    transform: none;
    -webkit-transform: none;
    animation: none;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/background-admin.jpg");
    background-size: cover;
}

.logo {
    display: none;
}

.logo-admin {
width: 40%;
max-width: 400px;
min-width: 200px;
margin-bottom: 20px;
}

.login {
    width: 25rem;
    max-width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.form-floating {
    width: 100%;
    opacity: .8;
}

.btn-container{
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin-bottom: 1.7%;
}

.btn-admin{
    margin: 2%;
    font-size: 2.2rem;
    width: fit-content;
    box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.575);
    transition: transform .5s ease-in-out;
}

.btn-admin:hover{
    transform: scale(1.2);
}

.btn {
    margin-top: 1rem;
    /* width: 50%; */
}

.table {
    background-color: rgba(0, 0, 0, 0.267);
    color: white;
    text-align: center;
    margin: 0 2% 0 2%;
    width: 90%;
    box-shadow: 3px 4px 6px 3px rgba(0, 0, 0, 0.575);
    margin-bottom: 2%;
}

    .table-mobile {
        display: none;
    }

.table thead {
    background-color: rgba(0, 0, 0, 0.39);
}

.col {
    font-weight: bold;
}

td {
    width: 50%;
}

.fila-cuadro:hover {
    background-color: rgba(0, 0, 0, 0.39);
}

.inputs-cuadro {
    margin: center;
}

.edit-cuadro-input {
    width: 70%;
    margin: auto;
    opacity: .8;
}

.edit-cuadro-input label {
    font-weight: bold;
}

.cuadros-admin-botones {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.cuadros-admin-botones .btn{
    width: 58px;
    height: 52px;
    transition: all .5s ease-in-out;
    text-align: center;
}

.btn-text{
    opacity: 0;
    transition: opacity .8s ease-in-out;
}


/* .btn-hover{
    height: fit-content;
    transition: all .5s ease-in-out;
} */

.cuadros-admin-botones .btn:hover {
    /* position: relative; */
    height: 52px;
    width: 100px;
}

.btn-hover:hover > .cuadros-iconos {
    display: none;
}

.btn-hover:hover > .btn-text {
    opacity: 1;
}

.cuadros-iconos{
    font-size: 2.2rem;
}


/* BOTON PRUEBA */
.btn-ej
{
	border-radius: 4px;
	border: 2px solid #fff;
	color: #fff;
	display: inline-block;
	overflow: hidden;
	padding: 24px 60px 24px 16px;
	position: relative;
	text-decoration: none;
	line-height: 1;
}
	
	.btn-ej span
	{
		font-size: 1em;
		padding: 0 26px;
		position: relative;
		right: 0;
		transition: right 300ms ease;
	}
	
	.icon
	{
		border-left: 1px solid rgba(255,255,255,0.3);
		bottom:10px;
		display:inline-block;
		line-height: 42px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 10px;
		transition: all 300ms ease;
		width: 58px;
	}
	
	.icon:after{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: #fff;
		opacity: 0;
		transition: opacity 300ms ease;
	}
	
	.btn-ej:hover > .btn-texto {
			right:100%;
	}

    .btn-ej:hover > .icon {
        border-left: 0;
        font-size:1.8em;
        width: 100%;
    }

    .btn-ej:hover > .icon:after{
        opacity: .2;
    }


/* MODAL CARGAR CUADRO */

#modal-upload{
    background-color: rgba(0, 0, 0, 0.815);
}

#form-upload {
    border: rgba(128, 128, 128, 0.733) 5px solid;
    background-color: rgba(145, 145, 145, 0.712);
    width: 70%;
    padding: 1% 5% 5% 5%; 
    margin: auto;
    border-radius: 7px;    
}

.modal-upload-image{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.modal-upload-image img{
    width: 60%;
    height: fit-content;
    margin: auto;
    opacity: 40%;
}

.form-form-upload{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.form-form-upload input{
    border: solid 1px  rgb(80, 80, 80);
    margin-top: 2%;
    outline: none;
    transition: border 0.5s ease-in-out;
    border-radius: 5px;
    padding-left: 1%;
}

.form-form-upload input::-webkit-input-placeholder {
    text-align: left;
}

.form-form-upload input:focus {
    border: solid rgba(210, 105, 30, 0.856) 3px;  
}

.form-form-upload #file {
    background-color: rgb(255, 255, 255);
    padding: 1.5px;
}


.form-form-upload button{
    margin: 2% auto auto auto;
    width: fit-content;
    border-radius: 5px;
    border: chocolate 2px solid;
    background-color:chocolate;
    color: white;  
    font-size: 1.1rem;
    padding: 0.5% 1%;
}

.form-form-upload button:hover{
    background-color: rgba(210, 105, 30, 0.781);
    color: white;
}

.recuadro-preview {
    min-height: 5rem;
    height: auto;
    width: 80%;
    border: rgba(0, 0, 0, 0.404) 5px solid;
    margin: 1rem auto auto auto;
    border-style: dashed;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

    .recuadro-preview i {
        font-size: 3rem;
        opacity: .7;
    }

.titulo-preview {
    text-align: center;
}

@media (max-width: 950px) {
    body {
        background-image: url("../images/background-admin.jpg");
        background-size: auto 300%;
        background-position: center center;
    }
}

@media (max-width: 480px) {
    .logo-admin {
        width: 85%;
    }

    .table {
        display: none;
    }

    .table-mobile {
        display: block;
    }

}


